@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: #fff;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-rgb: #0a0e0f;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background-color: var(--background-rgb);
  }
  ::-webkit-scrollbar {
    width: 3px;
    background-color: var(--background-rgb);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(59, 130, 246, 0.8);
    border-radius: 2em;
  }
}
